html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: green;
}

#body-layout {
    display: grid;
    grid-template-columns: minmax(250px, .3fr) 1fr;
    height: 100%;
}

#navigation {
    background-color: red;
    color: white;
}

#navigation-header {
    display: flex;
    font-size: 1.1em;
    padding: 10px 0 0 20px;
    margin: 0;
}

#navigation-header h3 {
    font-family: 'Exo', sans-serif;
    padding: 3px 0 0 5px;
}

#navigation-header img {
    width: 50px;
    filter: invert(1);
}

#navigation ul {
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 40px;
    padding: 0 0 0 25px;
}

#navigation li {
    margin-bottom: 15px;
}

#navigation a {
    display: flex;
    align-items: center;
}

#navigation a:not(img) > * {
    margin-top: -3px;
}

#navigation a img {
    width: 30px;
    filter: invert(1);
    margin-right: 15px;
}

#main {
    background-color: blue;
    display: grid;
    grid-template-rows: 75px 100px 1fr;
}

#header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

#header img {
    width: 25px;
}

#header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

#search-bar {
    background-color: white;
    width: 40vw;
    min-width: 300px;
    max-width: 550px;
    height: 30px;
    border-radius: 15px;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 201px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 20px;
}

#header-right img:last-of-type {
    width: 40px;
}

#greeting {
    background-color: white;
}

#content {
    background-color: yellow;
}